<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmautomático</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
  </head>
  <body>
	<div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center"><%-title %></h1>
        </div>
	</div>
	<br/>
	<br/>
	
	<form class="" action="especialistaformulario" method="GET">

		<input name="enfermedad" value<%=enfermedad%> type="hidden">
		<input name="ciudad" value<%=ciudad%> type="hidden">
		<input name="edad" value<%=edad%> type="hidden">
		
      <div class="row" id="ListaEspecialistas">
        <div class="col-xs-12 col-centered">
			<h3>Especialistas</h3>
		</div>
		<div class="form">
			<ul class="a">
				<p>Especialista:
				<span id="Especialidad">
				<select id="especialidad">
				  <option value="Seleccione">Todos</option>
				  <option value="odontologo">Odontólogo</option>
				  <option value="kinesiologo">Kinesiólogo</option>
				  <option value="cirujano">Cirujano</option>
				</select>
				</span>
				</p>
			<input class="btn btn-primary " type="submit" name="submit" value="Ir">
        </div>
      </div>
    </form>
		

		<div class="row row-centered" id="ListaEspecialistas">
          <div class="form">
			<ul class="a">
				<dl>
          <% for(var i in especialistas) {%>
                <li><dt>Nombre: <%-especialistas[i][0]%></dt></li>
					<dd>Especialidad: <%-especialistas[i][1]%></dd>
					<dd>E-mail: <%-especialistas[i][2]%></dd>
					<dd>Dirección: <%-especialistas[i][3]%></dd>
					<% for(var tel in especialistas[i][4]) {%>
					  <dd>Teléfono n° <%-tel %>: <%-especialistas[i][4][tel] %> </dd>
					<% } %>
					<br/>
          <% } %>
                </dl>
            </ul>
          </div>
        </div>
    
      <br />
      <br />

	<% include PreguntasFrecuentes %>
    <script>
    $(document).ready(function() {
      $.material.init();
    }
    </script>
  </body>
</html>
